* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/*html {
  font-size: 62.5%;
}*/

/*.container {
  width: 100%;
  height: 100vh;
  background-color: #12121f;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
.calendar1 {
  width: 88%;
    height: 101rem;
    background-color: #f3f3f7;
    box-shadow: 0 0.5rem 3rem rgb(0 0 0 / 40%);
    margin: 0 auto;

}

.month1 {
 width: 100%;
    height: 9rem;
    background-color: #d8e5e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
    margin: 0 auto;
  
}
  
}

.month1 i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month1 h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month1 p {
  font-size: 1.6rem;
}

.weekdays1 {
  width: 99%;
    /* height: 5rem; */
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.weekdays1 div {
  font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(98.2rem / 7);
    height: 13rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
    transition: background-color 0.2s;
    /* float: right; */
    text-align: left;
    /* border: 1px solid #00000024; */

}

.days1 {
  width: 110%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
    font-weight: 900;
    margin-top: -93px;
    /* margin: auto; */
    margin-left: -7px;
}

.days1 div {
 font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(98.2rem / 7);
    height: 13rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
    transition: background-color 0.2s;
    /* float: right; */
    text-align: right;
}

/*.days1 div:hover:not(.today1) {
  background-color: #fffcfc;
    border: 1px solid #77777736;
    cursor: pointer;
}*/





.prev-date1,
.next-date1 {
  opacity: 0.5;
}

/*.today1 {
  background-color: #fffcfc;
}*/

.in_div{

  position: absolute;
    height: 120px;
    margin-top: 37px;
    width: 204px;
}